body {
  font-family: Helvetica, Arial, sans-serif;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#label-container {
  margin-left: 5vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
  font-weight: bold;
  font-size: 2em;
  color: white;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
    1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

#stretch {
  margin-top: -2em;
  opacity: 0;
}

#slider-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#slider {
  width: 50vw;
}
